@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  font-display: swap;
  src:
    url('../fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  font-display: swap;
  src:
    url('../fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo-Regular.woff') format('woff');
}
